@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  color: #424242;
  font-family: "Sun Life Sans";
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.a {
  color: #004c6c;
}

.button {
  border-radius: 5px;
  border-width: 0;
  font-family: "Sun Life Sans";
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  text-align: center;
}

.button:hover {
  background-color: #4a7283;
  color: white;
}

.button--primary-blue {
  background-color: #004c6c;
  color: white;
}

.button--primary-yellow {
  background-color: #ffcb05;
  color: #004c6c;
  height: 50px;
  width: 150px;
}

.button--secondary {
  background-color: white;
  border: solid 2px #004c6c;
  color: #004c6c;
}

.button--tertiary {
  background-color: white;
  color: #004c6c;
}

.button--type-confirm {
  background-color: white;
  border: solid 2px #b81f41;
  color: #b81f41;
}

.button--type-confirm:hover {
  background-color: #b81f41;
  color: white;
}

.button--context-table {
  display: block;
  height: 40px;
  margin: auto;
  width: 75px;
}

.button--context-filter {
  height: 36px;
}

select {
  border-color: #adadad;
  color: #424242;
  font-family: "Sun Life Sans";
  font-size: 16px;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
}

input {
  border: solid 2px #adadad;
  color: #424242;
  font-family: "Sun Life Sans";
  font-size: 16px;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
}

select.custom-select {
  border: purple;
}

h1 {
  font-size: 48px;
  line-height: 61px;
}

h2 {
  font-size: 36px;
  line-height: 46px;
}

h3 {
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-size: 18px;
  line-height: 23px;
}

table {
  border-collapse: collapse;
  padding-top: 0;
  overflow: hidden;
  margin-top: 0;
  table-layout: fixed;
  width: 100%;
}

.table--smallCol {
  width: 10%;
}

.table--formIdCol {
  width: 12%;
}
.table--medCol {
  width: 15%;
}

td, th {
  display: table-cell;
  overflow: hidden;
  padding: 5px;
  vertical-align: middle;
}

td {
  color: #000000;
}

td:first-child, th:first-child {
  border-left: none;
}

th {
  background-color: #ffffff;
  border-bottom: solid 1px #666666;
  color: #666666;
  height: 30px;
  margin: 0;
  padding: 5px;
  text-align: center;
}

tr {
  border-bottom: solid 1px #c9c9c9;
}

tr:last-child {
  border-bottom: none;
}

th.filterCell {
  padding: 10px;
}

.description {
  max-width: 400px;
}

.name {
  max-width: 300px;
}

pdf-viewer .pdfViewer {
  height: 500px;
}



