.yellowBar {
  background-color: #ffcb05;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 0;
  text-align: center;
}

img {
  float: left;
  margin: 2.7rem 0 0 2rem;
}

button {
  float: right;
  margin: 2.7rem 2rem 0 0;
}

h2 {
  margin: 2.7rem auto 0 auto;
  text-align: center;
  position: fixed;
}



