.yellowBar {
  background-color: #ffcb05;
  padding-top: 4px;
  padding-bottom: 0;
  margin: 0;
}

img {
  float: left;
  margin-top: 2.5rem;
  margin-left: 2rem;
}

h2 {
  margin-top: 2.5rem;
  text-align: center;
}

button {
  float: right;
  margin-top: 2.5rem;
  margin-right: 2rem;
}

