.topBar{
  background-color: white;
  color: #424242;
  overflow: hidden;
  text-align: center;
}

.yellowBar {
  background-color: #ffcb05;
  padding: 4px;
  margin: 0px;
}

h2 {
  float: left;
  margin-top: 1rem;
  margin-right: 1rem;
}

h4 {
}

button {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
}
