
@import '~bootstrap/dist/css/bootstrap.min.css';
/* Create three equal columns that floats next to each other */
.column {
  float: left;
}

.left, .middle {
  width: 25%;
}

.right {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.align-content-center
label, select {
  display: table-cell;
}

.form-group {
  padding: auto;
  align: label;
}

.divider{
  width:15px;
  height:auto;
  display:inline-block;
}
table.confirm {
  width: 50%;
  border: 1px solid black;
}

table.confirm th, td {
  padding: 15px;
  border: 1px solid black;
}

table.confirm th {
  text-align: center;
  width: 20%;
}

/*
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid black;
}

select::-ms-expand {
  display: none;
  border: 1px solid black;
}

*/


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  height: 500px;
}

.pdf-viewer {
  height: 100px;
}

pdf-viewer {
  display: block;
  width: 100%;
}
.pdfOptions {
  font-size: 1.4rem;
}
.pdfOptions {
  color: white;
  padding-right: 10px;
  margin: 10px;
  text-align: center;
}
.pdfOptions button {
  background:black;
  border:none;
  float: left;
  padding-bottom: 2px;
  margin: 5px;
}
.pdfOptions span {
  float: right;
}

.editedCell--original {
  color: white;
  background-color: #b81f41;
  text-decoration: line-through;
}

.editedCell--new {
  color: white;
  background-color: #0b713a;
}



