/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.form-group {
  padding: auto;
  align: label;
}

/* Used as a Spacer In Between buttons */
.divider{
  width:15px;
  height:auto;
  display:inline-block;
}

table.confirm {
  border: 5px solid #004c6c;
}
/* Confirmation Table Settings */
table.confirm th, td {
  padding: 15px;
 border-bottom: 1px solid #adadad;
}
table.confirm tr, td:nth-child(even) {background-color: #f2f2f2;}

table.confirm th {
  text-align: center;
  width: 20%;
}

/* Margins for the Confirmation Page */
.container {
  margin-left: 10px;
  margin-bottom: 10px;
}

pdf-viewer {
  display: block;
  width: 100%;
}

/* This was for the pagination in the PDF Viewer
.pdfOptions {
  font-size: 1.4rem;
}
.pdfOptions {
  color: white;
  padding-right: 10px;
  margin: 10px;
  text-align: center;
}
.pdfOptions button {
  background:black;
  border:none;
  float: left;
  padding-bottom: 2px;
  margin: 5px;
}
.pdfOptions span {
  float: right;
}*/

/* Update Table Styling */
.editedCell--original {
  color: white;
  background-color: #b81f41;
  text-decoration: line-through;
}

.editedCell--new {
  color: white;
  background-color: #0b713a;
}

.oldText {
  color: #424242;
  text-decoration: line-through;
  height: auto;
  /*color: #b81f41;*/
}

.comparison {
  color: #b81f41;
}


