<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<form *ngIf="(form | async) || newForm; else loading" [formGroup]="model" (ngSubmit)="submit()">
  <div class="container-fluid">
    <!--
    -------------------------------------------------Submission Form Page-----------------------------------------------
    -->
    <div [hidden]="submitted">

      <h3>Form Submission</h3> <br>
      <div class="row">
        <!--Column #1: DropDown Menus for formType, coverageType, state, and sourceSystem -->

        <div class="col-lg-4">
          <div class="container">
            <!-- Row for the Form Type dropdown and label -->
            <div class="row">
                <div class="col-lg-4">
                  <label for="formType">Form type: </label> <br>
                </div>
                <div class="col-lg-8">
                  <div class="form-group">
                    <select [hidden]="addNewFormType" class="form-control" required formControlName="formType"
                            id="formType" (change)="checkFormType()">
                      <option *ngFor="let type of formTypeVar" [value]="type">{{ type }}</option>
                      <option value="newFormOption">Add new form type</option>
                    </select>
                    <input class="form-control" *ngIf="addNewFormType" required formControlName="formType"
                           placeholder="Enter new form type">
                    <div [hidden]="valid" *ngIf="formType.invalid"
                         class="alert alert-danger">
                      <div [hidden]="valid" *ngIf="formType.errors.required">
                        Form Type is required.
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Row for the Coverage Type dropdown and label -->
            <div class="row">
                <div class="col-lg-4">
                  <label for="coverageType">Coverage Type: </label>
                </div>

                <div class="col-lg-8">
                  <div class="form-group covTypeInput">
                    <select [hidden]="addNewCoverageType" class="form-control" id="coverageType" required
                            formControlName="coverageType"
                            name="coverageType" (change)="checkCoverageType()">
                      <option *ngFor="let cType of coverageTypesVar" [value]="cType">{{ cType }}</option>
                      <option value="newCovOption">Add new coverage type</option>
                    </select>
                    <input class="form-control" *ngIf="addNewCoverageType" required formControlName="coverageType"
                           placeholder="Enter new coverage type">
                    <div [hidden]="valid" *ngIf="coverageType.invalid"
                         class="alert alert-danger">
                      <div [hidden]="valid" *ngIf="coverageType.errors.required">
                        Coverage Type is required.
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Row for the State MULTI-SELECT dropdown and label -->
            <div class="row">
                <div class="col-lg-4">
                  <label>States:</label>
                </div>

                <div class="col-lg-8">
                  <div class="form-group">
                    <ng-multiselect-dropdown
                                              [class] = "'state-dropdown'"
                                             [data]="stateList"
                                              formControlName="state"
                                             [settings]="dropdownSettings"
                                             (onSelect)="updateState()"
                                             (onSelectAll)="onSelectAll()"
                                             (onDeSelect)="updateState()"
                                             (onDeSelectAll)="onDeSelectAll()"
                                             id="state">
                    </ng-multiselect-dropdown>
                    <div [hidden]="valid" *ngIf="state.invalid"
                         class="alert alert-danger">
                      <div [hidden]="valid" *ngIf="state.errors.required">
                        State is required.
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Row for the Source System dropdown and label -->
            <div class="row">
                <div class="col-lg-4">
                  <label for="sourceSystem">Source System: </label>
                </div>
                <div class="col-lg-8">
                  <div class="form-group">
                    <select [hidden]="addNewSource" class="form-control" id="sourceSystem" required formControlName="sourceSystem"
                            name="sourceSystem" (change)="checkSource()">
                      <option *ngFor="let source of sourceVar" [value]="source">{{ source }}</option>
                      <option value="newSourceOption">Add new source system</option>
                    </select>
                    <input class="form-control" *ngIf="addNewSource" required formControlName="sourceSystem"
                           placeholder="Enter new source system">
                    <div [hidden]="valid" *ngIf="sourceSystem.invalid"
                         class="alert alert-danger">
                      <div [hidden]="valid" *ngIf="sourceSystem.errors.required">
                        Source System is required.
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div> <!-- End of container -->
        </div> <!-- End of Column #1 -->


        <!-- Column #2: Text Field Inputs and "View Form" Button -->
        <div class="col-lg-4" style="background-color:white;">
          <!-- Row for Form Name text box and label -->
          <div class="row">
              <div class="col-lg-4">
                <label for="name">Form Name: </label>
              </div>
              <div class="col-lg-8">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" required formControlName="name" name="name">
                  <div [hidden]="valid" *ngIf="name.invalid"
                       class="alert alert-danger">
                    <div [hidden]="valid" *ngIf="name.errors.required">
                      Name is required.
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <!-- Row for Form ID text box and label-->
          <div class="row">
              <div class="col-lg-4">
                <label for="formId">Form ID: </label>
              </div>
              <div class="col-lg-8">
                <div class="form-group">
                  <input type="text" class="form-control" id="formId" required formControlName="formId" name="formId">
                  <div [hidden]="valid" *ngIf="formId.invalid"
                       class="alert alert-danger">
                    <div [hidden]="valid" *ngIf="formId.errors.required">
                      Form ID is required.
                    </div>
                    <div [hidden]="valid" *ngIf="formId.errors.formIdValidation">
                      Form ID cannot be "new".
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <!-- Row for Form Link text box and label along with "View Form" button for PDF Viewer -->
          <div class="row">
              <div class="col-lg-4">
                <label for="link">Form Link: </label>
              </div>
              <div class="col-lg-8">
                <div class="form-group">
                  <input type="text" class="form-control" id="link" required formControlName="link" name="link">
                  <div [hidden]="valid" *ngIf="link.invalid"
                       class="alert alert-danger">
                    <div [hidden]="valid" *ngIf="link.errors.required">
                      Link is required.
                    </div>
                  </div>
                </div>
                <button class="button button--secondary" type="button"
                        (click)="view=true; easterEgg(model.value.name);">View Form
                </button>
              </div>
          </div>
          <br>

          <!-- Row for Form Description text box and label -->
          <div class="row">
              <div class="col-lg-4">
                <label for="description">Form Description: </label>
              </div>
              <div class="col-lg-8">
                <div class="form-group">
                  <input type="text" class="form-control" id="description" required formControlName="description"
                         name="description">
                  <div [hidden]="valid" *ngIf="description.invalid"
                       class="alert alert-danger">
                    <div [hidden]="valid" *ngIf="description.errors.required">
                      Description is required.
                    </div>
                  </div>
                </div>
              </div>
              <div [hidden]="!egg">
                {{message}}
              </div>
          </div>
        </div> <!-- End of Column #2 -->

        <!-- Column #3: PDF Viewer!!!!!! -->

        <div class="col-lg-4" style="background-color:white;">
              <div [hidden]="!view">
                <pdf-viewer
                  [class]="'pdf'"
                  [src]="'https://cors-anywhere.herokuapp.com/' + model.value.link"
                  [show-all]="false"
                  [original-size]="false"
                  [fit-to-page]="true"
                  [(page)]="page"
                  (after-load-complete)="callBackFn($event)">
                </pdf-viewer>
                <div>{{ page }} of {{ pageTotal }}</div>
                <button type="button" class="button button--secondary" (click)="prevPage();">Previous Page</button>
                <div class="divider"></div>
                <button type="button" class="button button--secondary" (click)="nextPage();">Next Page</button>
              </div>
        </div>
      </div> <!-- end of big row that contains three columns -->

      <!-- Error Messages that Appear Upon Submit -->
      <div [hidden]="valid" *ngIf="model.invalid"
           class="alert alert-danger">
        All fields must be valid before submitting form.
      </div>
      <div [hidden]="!duplicate" class="alert alert-danger">
      {{message}} <br>
      </div>

      <!-- Submit and Cancel Buttons -->
      <button class="button button--primary-yellow" type="button" (click)="submissionCheck(); duplicateCheck(model.value.formId)">Submit</button>
      <div class="divider"></div>
      <button class="button button--secondary" type="button" routerLink="/mfm"
              routerLinkActive="active">Cancel
      </button>

    </div> <!-- End of Submission Form Page -->
  </div>

  <!--
  ---------------------------------------------Confirmation Page begins-------------------------------------------------
  -->

  <div class="container" [hidden]="!submitted">
    <h3>You are about to submit the following: </h3> <br>
    <!--Table if an existing form is being updated-->
    <table *ngIf="!newForm" class="confirm">
      <tr>
        <th>Form Type</th>
        <!--Field not Changed-->
        <td *ngIf="originalForm.formType === model.value.formType">{{model.value.formType}}</td>
        <!--Field Changed-->
        <td class="comparison" *ngIf="originalForm.formType !== model.value.formType">
          <p><span class="oldText">{{originalForm.formType}}</span>  {{model.value.formType}}</p>
        </td>
      </tr>
      <tr>
        <th>Coverage Type</th>
        <!--Field not Changed-->
        <td *ngIf="originalForm.coverageType === model.value.coverageType">{{model.value.coverageType}}</td>
        <!--Field Changed-->
        <td class="comparison" *ngIf="originalForm.coverageType !== model.value.coverageType">
          <p><span class="oldText">{{originalForm.coverageType}}</span>  {{model.value.coverageType}}</p>
        </td>
      </tr>
      <tr>
        <th>Coverage State(s)</th>
        <!--Field not Changed-->
        <td *ngIf="originalForm.state.toString() === model.value.state.toString()">{{model.value.state}}</td>
        <!--Field Changed-->
        <td class="comparison" *ngIf="originalForm.state.toString() !== model.value.state.toString()">
          <p><span class="oldText">{{originalForm.state}}</span>  {{model.value.state}}</p>
        </td>
      </tr>
      <tr>
        <th>Source System</th>
        <!--Field not Changed-->
        <td *ngIf="originalForm.sourceSystem === model.value.sourceSystem">{{model.value.sourceSystem}}</td>
        <!--Field Changed-->
        <td class="comparison" *ngIf="originalForm.sourceSystem !== model.value.sourceSystem">
          <p><span class="oldText">{{originalForm.sourceSystem}}</span>  {{model.value.sourceSystem}}</p>
        </td>
      </tr>
      <tr>
        <th>Form Name</th>
        <!--Field not Changed-->
        <td *ngIf="originalForm.name === model.value.name">{{model.value.name}}</td>
        <!--Field Changed-->
        <td class="comparison" *ngIf="originalForm.name !== model.value.name">
          <p><span class="oldText">{{originalForm.name}}</span>  {{model.value.name}}</p>
        </td>
      </tr>
      <tr>
        <th>Form ID</th>
        <!--Field not Changed-->
        <td *ngIf="originalForm.formId === model.value.formId">{{model.value.formId}}</td>
        <!--Field Changed-->
        <td class="comparison" *ngIf="originalForm.formId !== model.value.formId">
          <p><span class="oldText">{{originalForm.formId}}</span>  {{model.value.formId}}</p>
        </td>
      </tr>
      <tr>
        <th>Form Link</th>
        <!--Field not Changed-->
        <td *ngIf="originalForm.link === model.value.link">{{model.value.link}}</td>
        <!--Field Changed-->
        <td class="comparison" *ngIf="originalForm.link !== model.value.link">
          <p><span class="oldText">{{originalForm.link}}</span>  {{model.value.link}}</p>
        </td>
      </tr>
      <tr>
        <th>Form Description</th>
        <!--Field not Changed-->
        <td *ngIf="originalForm.description === model.value.description">{{model.value.description}}</td>
        <!--Field Changed-->
        <td class="comparison" *ngIf="originalForm.description !== model.value.description">
          <p style="height: 14px"><span class="oldText">{{originalForm.description}}</span>  {{model.value.description}}
          </p>
        </td>
      </tr>
    </table>
    <!--Table when new form is being submitted-->
    <table *ngIf="newForm" class="confirm">
      <tr>
        <th>Form Type</th>
        <td>{{model.value.formType}}</td>
      </tr>
      <tr>
        <th>Coverage Type</th>
        <td>{{model.value.coverageType}}</td>
      <tr>
        <th>Coverage State(s)</th>
        <td>{{model.value.state}}</td>
      </tr>
      <tr>
        <th>Source System</th>
        <td>{{model.value.sourceSystem}}</td>
      </tr>
      <tr>
        <th>Form Name</th>
        <td>{{model.value.name}}</td>
      </tr>
      <tr>
        <th>Form ID</th>
        <td>{{model.value.formId}}</td>
      </tr>
      <tr>
        <th>Form Link</th>
        <td>{{model.value.link}}</td>
      </tr>
      <tr>
        <th>Form Description</th>
        <td>{{model.value.description}}</td>
      </tr>
    </table>
    <br>
    <div class="row">
      <button type="submit" *ngIf="newForm" class="button button--primary-yellow">
        Upload to Database
      </button>
      <button type="submit" *ngIf="!newForm" class="button button--primary-yellow">
        Upload Changes
      </button>
      <div class="divider"></div>
      <button *ngIf="newForm" class="button button--secondary" type="button"
              (click)="submitted=false; submit(); model.reset()">Upload
        and Submit Another Form
      </button>
      <button *ngIf="!newForm" class="button button--secondary" type="button" (click)="submitted=false">Return to Form
      </button>
      <div class="divider"></div>
      <button class="button button--tertiary" type="button" routerLink="/mfm"
              routerLinkActive="active">Cancel
      </button>
    </div>
  </div>

</form>
</body>

<ng-template #loading>
  Loading form...
</ng-template>
