.my-pagination /deep/ .ngx-pagination .current {
  background: #ffcb05;
}

.my-pagination /deep/ .ngx-pagination {
}

.footer {
  text-align: center;
}

th {
  font-size: 18px;
}

td.tableContainer > div {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

td.tableContainer {
  height: 10px;
  width: 80px;
  table-layout: fixed;
  white-space: nowrap;
}
